.lead {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
}
@media screen and (max-width: 500px) {
    .lead {
        max-width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .lead {
        max-width: 600px;
    }
}